<footer>
    <div class="copyright">
        <img src="/assets/img/brands/<%= brand %>-inv.svg" alt="Anhanguera" height="40px">
        <div class="body xs">Copyright ©2022 - <%= brandName %>. Todos os direitos reservados.</div>
    </div>
    <div class="sociais">
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <em class="fab fa-facebook-f"></em>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linkedin">
            <em class="fab fa-linkedin"></em>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
            <em class="fab fa-twitter"></em>
            </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <em class="fab fa-instagram"></em>
        </a>
    </div>
</footer>