<head>
  <base href="<%- baseUrl%>" />

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%- title %>
  </title>

    <% if (brand == 'anhanguera') {%>    
    <meta data-react-helmet="true" name="theme-color" content="#F05A22">
    <meta name="theme-color" content="#F05A22">

    <% } if (brand == 'pitagoras') { %>    
    <meta data-react-helmet="true" name="theme-color" content="#F05A22">
    <meta name="theme-color" content="#F05A22">

    <% } if (brand == 'unime') { %>
    <meta data-react-helmet="true" name="theme-color" content="#A71C20">
    <meta name="theme-color" content="#A71C20">

    <% } if (brand == 'unic') { %>    
    <meta data-react-helmet="true" name="theme-color" content="#00579F">
    <meta name="theme-color" content="#00579F">

    <% } if (brand == 'uniderp') { %>    
    <meta data-react-helmet="true" name="theme-color" content="#002561">
    <meta name="theme-color" content="#002561">

    <% } if (brand == 'unopar') { %>
    <meta data-react-helmet="true" name="theme-color" content="#003371">
    <meta name="theme-color" content="#003371">
    <% } %>

    <link rel="shortcut icon" href="/assets/favicons/favicon-<%-brand%>.ico" type="image/x-icon">

    <link rel="preload" href="/assets/css/all.min.css" as="style" />
    <link rel="preload" href="/assets/css/gotham.css" as="style" />
    <link rel="preload" href="/assets/css/main.css" as="style" />

    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/gotham.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>