<section>
    <div class="container">
        <div class="box-title">
            <div class="h2 title">Links úteis</div>
            <div class="body sm">
                Consequat duis enim velit mollit amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-image">
                        <img loading="lazy" src="/assets/img/pda.jpg"
                            srcset="/assets/img/pda.jpg 1x, /assets/img/pda@2x.jpg 2x" alt="PDA">
                    </div>
                    <div class="card-body">
                        <div class="h5">PDA</div>
                        <div class="body sm">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">
                            <span>Acesse agora</span>
                            <em class="fal fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-image">
                        <img loading="lazy" src="/assets/img/canal-conecta.jpg"
                            srcset="/assets/img/canal-conecta.jpg 1x, /assets/img/canal-conecta@2x.jpg 2x"
                            alt="Canal Conecta">
                    </div>
                    <div class="card-body">
                        <div class="h5">Canal Conecta</div>
                        <div class="body sm">
                            O maior portal de empregos do país, gratuito e com milhares de vagas e oportunidades
                            exclusivas para você.
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">
                            <span>Acesse agora</span>
                            <em class="fal fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-image">
                        <img loading="lazy" src="/assets/img/amigo-vale-premio.jpg"
                            srcset="/assets/img/amigo-vale-premio.jpg 1x, /assets/img/amigo-vale-premio@2x.jpg 2x"
                            alt="Amigo Vale Prêmio">
                    </div>
                    <div class="card-body">
                        <div class="h5">Amigo Vale Prêmio</div>
                        <div class="body sm">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">
                            <span>Acesse agora</span>
                            <em class="fal fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>