<section>
  <h1>Bluecore Template: Node + EJS</h1>

  <p>Template de projeto monolito, com arquitetura simples, utilizando:</p>

  <ul>
    <li>Node</li>
    <li>ExpressJS</li>
    <li>EJS</li>
    <li>SQL Server</li>
  </ul>
</section>

<section id="app">
  <h2>Usuários</h2>
  <ul>
    <li v-for="user in users">{{ user.name }}</li>
  </ul>
</section>

<script>
  var http = axios.create({
    baseURL: "<%- apiUrl%>",
    timeout: 10000,
  });

  var app = new Vue({
    el: "#app",
    data: {
      users: [],
    },
    methods: {
      loadUsers() {
        http.get("/users").then((response) => {
          this.users = response.data;
        });
      },
    },
    mounted() {
      this.loadUsers();
    },
  });
</script>
