@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

:root {
    /* Color styles */
    --primary: #F05A22;
    --white: #FFFFFF;
    --border: #CDD0D4;
    --text: #3B404B;
    --text-light: #707580;
    --bg: #F3F3FA;
    --bg-contrast: #FFFFFF;
    --alternate: #FDB913;

    /* Text-size styles */
    --h1: 64px;
    --h2: 48px;
    --h3: 36px;
    --h4: 32px;
    --h5: 28px;
    --h6: 24px;
    --body-xs: 13px;
    --body-sm: 14px;
    --body-md: 16px;
    --body-md: 16px;
    --body-lg: 18px;
    --body-xl: 20px;
    --button-sm: 12px;
    --button-md: 14px;

    --banner: url('/assets/img/elements/bg.svg');
}

.brand-name:before {
    content: 'Anhanguera';
}

.unime {
    --primary: #ED1C24;
    --alternate: #F27052;

    .brand-name:before {
        content: 'Unime';
    }
}

.pitagoras {
    --primary: #F05A22;
    --alternate: #762EF1;

    .brand-name:before {
        content: 'Pitágoras';
    }
}

.unic {
    --primary: #00579F;
    --alternate: #00AFEE;

    .brand-name:before {
        content: 'Unic';
    }
}

.uniderp {
    --primary: #034EA2;
    --alternate: #A6CE39;

    .brand-name:before {
        content: 'Uniderp';
    }
}

.unopar {
    --primary: #003371;
    --alternate: #D928AB;

    .brand-name:before {
        content: 'Unopar';
    }
}

$main-font: 'Gotham',
sans-serif;
$secondary-font: 'Yanone Kaffeesatz',
sans-serif;

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

html,
body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body {
    color: var(--text);
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    text-align: inherit;
    font-size: 0.875rem;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.scrollable {
    overflow-y: overlay;

    &::-webkit-scrollbar * {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 1.5rem;
    }

    &::-webkit-scrollbar-track {
        background: trasparent;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        border: .5rem solid transparent;
        background-clip: content-box;
        background-color: transparent;
        border-radius: 1rem;
        transition: .3s;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: var(--border);

            &:hover {
                background-color: var(--text-light);
            }
        }
    }
}

strong {
    font-weight: 500;
}

button {
    appearance: none;
    border: none;
    background: none;
    text-align: inherit;
    cursor: pointer;
    color: inherit;
    font-family: $main-font;
    line-height: 100%;

    * {
        pointer-events: none;
    }
}

input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    text-align: inherit;
    cursor: pointer;
    color: inherit;
    font-family: $main-font;
    line-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.icon {
    flex-shrink: 0;
    font-size: 1.375rem;
    color: var(--text-light);
}

.divider {
    background-color: var(--border);
    width: 1px;
    flex-shrink: 0;
    align-self: stretch;
    margin: .4rem 0;
}

.text-alternate {
    color: var(--alternate);
}

.text-primary {
    color: var(--primary);
}

.text-light {
    color: var(--text-light);
}

.text-uppercase {
    text-transform: uppercase;
}

.h1,
h1 {
    font-family: $secondary-font;
    font-size: var(--h1);
    letter-spacing: -0.01em;
    // line-height: 0.8;
    font-weight: 400;
}

.h2,
h2 {
    font-family: $secondary-font;
    font-size: var(--h2);
    line-height: 100%;
    font-weight: 600;
}

.h4,
h4 {
    font-family: $secondary-font;
    font-size: var(--h4);
    line-height: 1.1;
    font-weight: 500;
}

.h5,
h5 {
    font-family: $secondary-font;
    font-size: var(--h5);
    line-height: 1.1;
    letter-spacing: 0.01em;
    font-weight: 500;
}

.h6,
h6 {
    font-size: var(--h6);
    font-family: $secondary-font;
    letter-spacing: 0.02em;
    // line-height: 0.9;
    font-weight: 500;
}

.truncate {
    overflow: hidden;
    display: -webkit-box;

    &-after {
        position: relative;
        -webkit-box-orient: vertical;

        @for $i from 1 to 15 {
            &.lines-#{$i} {
                -webkit-line-clamp: #{$i};
                max-height: $i + 1em;
            }
        }

    }
}

.body {
    line-height: 1.6;
    font-weight: 400;

    &.xs {
        font-size: var(--body-xs);
    }

    &.sm {
        font-size: var(--body-sm);
    }

    &.md {
        font-size: var(--body-md);
    }

    &.lg {
        font-size: var(--body-lg);
    }

    &.xl {
        font-size: var(--body-xl);
    }
}

.btn {
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $main-font;
    color: var(--primary);

    em {
        top: -4px;
        position: relative;
    }

    &-default {
        height: 56px;
        background-color: var(--bg);
        padding: 16px;
        gap: 16px;
        border-radius: 8px;
        text-transform: none;

        * {
            color: var(--text-light);
        }

        em {
            font-size: 1.125rem;
        }
    }

    &.outlined {
        padding: 0px 24px;
        height: 46px;
        line-height: 1.6;
        position: relative;
        width: 100%;
        max-width: 240px;
        justify-content: center;
        border-radius: 8px;
        transition: all .3s;
        margin-left: 2px;

        &::before {
            content: '';
            position: absolute;
            left: -2px;
            right: 2px;
            top: 2px;
            bottom: -2px;
            border: 1px solid var(--primary);
            border-radius: 8px;
        }

        &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: 2px;
            right: -2px;
            border: 1px solid var(--alternate);
            height: 100%;
            border-radius: 8px;
        }

        &.active {
            background-color: var(--primary);
            color: var(--white);

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    &.text {
        height: 46px;
        padding: 0 24px;
        font-size: 14px;
    }
}

.mt-xs {
    margin-top: .5rem;
}

header {
    display: flex;
    flex-shrink: 0;
    padding: 12px 16px 12px 25px;
    gap: 25px;
    align-items: center;
    border-top: 4px solid var(--alternate);
    background-color: var(--bg-contrast);
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 100;

    .logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: 1rem;

        .name {
            font-weight: 300;
            font-size: 22px;
            line-height: 1.1;
            color: var(--primary);
            letter-spacing: 0.02em;
            font-family: $secondary-font;
        }
    }

    .central {
        display: flex;
        text-align: right;
        gap: 1rem;
        align-items: center;
        font-size: 12px;
    }
}

.menu {

    position: fixed;
    width: 100vw;
    max-width: 280px;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.06), 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg-contrast);
    overflow: hidden;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &.active {
        opacity: 1;
        visibility: visible !important;
    }

    &.right {
        right: 0;
        left: auto;
    }

    &-header {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--primary);

        * {
            color: var(--white);
        }

        span {
            flex-grow: 1;
            text-align: left;
        }
    }

    &-body {
        padding: 25px 16px 16px;

        a {
            color: rgba(0, 87, 159, 1);
        }

        .btn {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .list {
        &-header {
            background: var(--border);
            opacity: 0.5;
            border-radius: 0px 0px 5px 5px;
            color: var(--primary);
            font-weight: 700;
            padding: 16px 16px 16px 8px;
        }

        &-item {
            padding: 1rem;
            display: block;
            width: 100%;

            &:hover {
                background: var(--bg);
            }
        }
    }
}

.banner {
    display: flex;
    position: relative;
    background-color: var(--bg-contrast);
    background-image: url('/assets/img/elements/rectangle.svg');
    max-height: none;
    height: auto;
    min-height: 320px;

    @media #{$breakpoint-sm-up} {
        height: 63vh;
        max-height: 480px;
    }

    .svg-element {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 120%;
        height: 100%;
        max-width: 1440px;

        @media #{$breakpoint-sm-up} {
            display: block;
        }

        svg {
            height: 100%;
        }
    }

    iframe {
        width: 100%;
        height: auto;

        @media #{$breakpoint-sm-up} {
            height: 100%;
        }
    }

    .container {
        padding: 2rem 1rem;
    }

    .row {
        height: 100%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 1;

        .body {
            margin-top: 1rem;
        }
    }

    &-image {
        position: relative;
        max-height: 380px;

        img {
            width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            left: -4px;
            right: 4px;
            top: -4px;
            bottom: 4px;
            border: 2px solid var(--alternate);
            border-radius: 18px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 4px;
            right: -4px;
            top: 4px;
            bottom: -4px;
            border: 2px solid var(--primary);
            border-radius: 18px;
        }
    }
}

section {
    padding: 40px 0;
}

.title {
    color: var(--primary);
    text-transform: uppercase;

    &::after {
        content: '';
        height: 16px;
        display: block;
        margin: .5rem;
        mask: url('/assets/img/elements/trace.svg') no-repeat left;
        background-color: var(--alternate);
    }
}

.box-title {
    max-width: 480px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

    .title::after {
        mask-position: center;
    }
}

.card {
    background: var(--bg-contrast);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-image {
        height: 220px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    &-body {
        margin: 1rem 0;
        flex-grow: 1;
    }

    &-footer {
        flex-shrink: 0;
    }

    &.list {
        flex-direction: row;
        gap: 1rem;
        padding: 8px 0px;
        box-shadow: none;
        background-color: transparent;
        align-items: center;

        .card-image {
            width: 112px;
            height: 112px;
        }

        .card-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .card-body {
            margin: 0;
        }

        &.sm .card-image {
            width: 70px;
            height: 70px;
        }
    }
}

.grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    gap: 1rem;
    grid-auto-columns: 360px;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;

    .control {
        position: absolute;
        font-size: 14px;
        background-color: var(--primary);
        color: var(--white);
        width: 46px;
        height: 46px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        display: none;

        @media #{$breakpoint-sm-up} {
            display: flex;
        }

        &.prev {
            left: 1rem;

            @media screen and (min-width: (1170px + 32px)) {
                left: -4rem;
            }
        }

        &.next {
            right: 1rem;

            @media screen and (min-width: (1170px + 32px)) {
                right: -4rem;
            }
        }
    }

    .slider-wrapper {
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        .slide {
            flex: none;
        }
    }
}

.menu-content {
    background-color: var(--bg-contrast);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), inset 0px 8px 0px var(--primary);
    counter-reset: step;

    &::after {
        content: '';
        float: right;
        display: block;
        width: 147px;
        height: 6px;
        background-color: var(--alternate);
    }

    &-header {
        margin-bottom: 8px;
        padding: 32px 16px 0px;
    }

    &-body {
        padding: 16px;

        .h5 {
            font-size: clamp(18px, 1.5vw, 22px);
        }
    }

    .card {
        margin-bottom: .5rem;
        gap: 24px;
        counter-increment: step;

        &:last-child {
            margin-bottom: 0;
        }

        &-image {
            position: relative;
            overflow: unset;

            &::after {
                content: counter(step);
                position: absolute;
                width: 24px;
                height: 24px;
                display: flex;
                right: -12px;
                top: 0px;
                background: var(--primary);
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                color: var(--white);
                letter-spacing: 0.02em;
                font-family: $secondary-font;
                border-radius: 8px;
            }
        }

        &.active {
            pointer-events: none;

            .card-image {
                img {
                    opacity: .5;
                    mix-blend-mode: luminosity;
                }

                &::after {
                    content: '\f00c';
                    background: #4A9730;
                    font-family: 'Font Awesome 6 Pro';
                    font-weight: 900;
                    font-size: 16px;
                }
            }

            .card-body {
                opacity: .7;
            }
        }
    }
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 1.5rem;
}

.pt-2 {
    padding-top: 1.5rem;
}

.pt-4 {
    padding-top: 2.5rem;
}

.btn-group {
    display: flex;
    gap: 24px;

    .btn {
        width: auto !important;
    }
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.tab,
.tabs {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.active {
        visibility: visible !important;
        opacity: 1;
        width: 100% !important;
    }
}

.custom-html {
    p {
        margin-bottom: .5rem;
    }

    ol {
        list-style: decimal;
        padding-left: 1rem;
        margin-bottom: .5rem;
    }

    ul {
        list-style: disc;
        padding-left: 1rem;
        margin-bottom: .5rem;
    }

    a {
        color: var(--primary);
    }
    small {
        font-size: 0.8rem;
    }
}

footer {
    height: 117px;
    background-color: var(--primary);
    color: var(--white);
    border-top: 4px dashed var(--bg);
    display: flex;
    align-items: center;
    padding: 24px 32px;
    flex-wrap: wrap;

    @media #{$breakpoint-sm-up} {
        flex-wrap: nowrap;
    }

    .copyright {
        flex-grow: 1;
    }

    .body {
        opacity: .6;
    }

    .sociais {
        display: flex;
        gap: 40px;

        a {
            font-size: 22px;
            flex-shrink: 0;
        }
    }
}